div{
    border: 0px black solid;          
}
#dialog{
    float: top;
}
body{
    background-image: url(../img/arvore.png);
    background-position: bottom left;
    background-repeat: no-repeat;
    background-size: 400px 400px;
}
.container{
    position: absolute;
    width: 1001px;
    padding-left: 20%; 
    padding-right: 20%;
    display: table;
}

/*Inicio do header*/
.bar{
    float: top;
    width: 1000px;
    height: 30px;
    border-bottom: 3px gray solid;
    border-top: 3px gray solid;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -o-border-radius: 10px;
    -ms-border-radius: 10px;
    border-radius: 10px;
    border-color: green;
    padding-top: 5px;
    font-size: 18px;
    font-weight: bold;
    color: black;
}
#sisname{
    float: left;
    width: 60%;
    padding-left: 10px;
}
#user{
    float: right;
    width: 30%;
    padding-right: 10px;
    text-align: right;
}
#header{
    float: top;
    width: 1000px;
    height: 200px;
    text-align: center;
    background-image: url(../img/header.jpg);
    background-position: center;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -o-border-radius: 30px;
    -ms-border-radius: 30px;
    border-radius: 30px;

}  
/*Fim do header*/

/*Inicio do menu esquerdo*/
#leftlist {
    float: left;
    width: 200px;
    padding: 0;
    margin: 0;
    font: 14px Verdana, sans-serif;
    background:transparent; 
    margin-bottom:2px;
}
#leftlist ul {
    margin: 0;
    padding: 0;
}
#leftlist li {
    list-style: none;
    border-top: 1px solid #228B22;
    border-bottom: 1px solid #228B22;   
    text-align: center;
    margin: 0;

}
#leftlist li a {    
    display: block;
    padding: 5px 5px 5px 8px;
    font-weight:bold;
    border-left: 10px solid #228B22;
    border-right: 10px solid #FFFF00;
    background-color: white;//#9ACD32;
    color: black;
    text-decoration: none;
}
#leftlist li a:hover {
    border-left: 10px solid #9ACD32;
    border-right: 10px solid #FFFF00;
    background-color: #228B22;
    color: black;
}
/*Fim do menu esquedo*/

/*Conteúdo*/
#content{
    float: left;
    width: 700px;
    padding: 20px;
    border: 2px #9ACD32 !important;
    background: white;
    /*    background: -moz-linear-gradient(top, #fff, #99FF99 ) repeat-X;
        background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#99FF99 )) repeat-X;
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#666, endColorstr=#FFFFFFFF)"
    */
    /*    background-image: url(../img/arvore.jpg);
        background-position: bottom right;*/
}
#titlecontent{
    border: 0px;
    text-align: center;
    width: 100% !important;
    height: 50px;
}
#title{
    text-align: center;
    width: 300px !important;
    font-size: 22px;
    height: 30px;
    margin: 0 auto;
    text-align: center;
    border-bottom: 5px solid #228B22;
    border-top: 0px;
    border-right: 0px;
    border-left:  0px;
}
.form{
    font-family: cursive;
}
/*Fim do Conteúdo*/

/*Modulos*/
.active{
    background: black;
}
input[type=submit]{
    cursor: pointer;
    display: inline-block;
    background-color: #9ACD32;
    color: #444;
    padding: 10px 20px;
    text-decoration: none;
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    border: 0px;
    font-weight: bold;
}
input[type=submit]:hover{
    border-bottom: 3px yellow solid;
    background: #CD853F;
}
input[type=text]:hover{
    background: #9ACD32;
}

input[type=text],input[type=time]{     
    border-radius:4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    box-shadow: 1px 1px 2px #333333;    
    -moz-box-shadow: 1px 1px 2px #333333;
    -webkit-box-shadow: 1px 1px 2px #333333;
    border:1px solid #000000;
}
select {
    width: 240px;
    height: 34px;
    overflow: hidden;
    border: 1px solid #ccc;
}
text{
    background: black;
    width: 240px;
    height: 34px;
}